## Sharan S
### Assignment 10
### Reccomendation systems

Build a recommender system by using cosine simillarties score.

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [26]:
data=pd.read_csv("C:\\Users\\SHARAN\\Desktop\\ExcelR\\Assignment\\Assignment_10_Recommendation system\\book.csv")
data.head(3)

   Unnamed: 0  User.ID            Book.Title  Book.Rating
0           1   276726   Classical Mythology            5
1           2   276729          Clara Callan            3
2           3   276729  Decision in Normandy            6

In [27]:
data.rename(columns={"User.ID":"userid","Book.Title":"booktitle","Book.Rating":"bookrating"},inplace=True)

In [28]:
data.head(3)

   Unnamed: 0  userid             booktitle  bookrating
0           1  276726   Classical Mythology           5
1           2  276729          Clara Callan           3
2           3  276729  Decision in Normandy           6

In [22]:
data.shape

(10000, 4)

In [13]:
len(data)

10000

In [14]:
len(data.user_id.unique())

2182

In [15]:
len(data.book_title.unique())

9659

In [31]:
user_book=data.pivot_table(index='userid',columns='booktitle',values='bookrating')
user_book=user_book.reset_index(drop=True)
user_book.head(3)

booktitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,�?�?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
user_book.index=data.userid.unique()

In [33]:
user_book.fillna(0,inplace=True)
user_book.head(3)

booktitle,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,�?�?bermorgen.
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
user_sim=1-pairwise_distances(user_book.values,metric='cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [41]:
user_sim_df=pd.DataFrame(user_sim)
user_sim_df.index=data.userid.unique()
user_sim_df.columns=data.userid.unique()

np.fill_diagonal(user_sim,0)
user_sim_df.iloc[0:5,0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

In [42]:
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64

In [44]:
data[(data['userid']==276747)|(data['userid']==276768)]

,Unnamed: 0,userid,booktitle,bookrating
7,8,276747,PLEADING GUILTY,9
8,9,276747,Under the Black Flag: The Romance and the Real...,9
9,10,276747,Where You'll Find Me: And Other Stories,8
10,11,276747,Nights Below Station Street,7
11,12,276747,Hitler's Secret Bankers: The Myth of Swiss Neu...,7
21,22,276768,New Vegetarian: Bold and Beautiful Recipes for...,4

In [47]:
user_1=data[(data["userid"]==276768)]
user_2=data[(data["userid"]==276804)]

In [48]:
user_1.booktitle

21    New Vegetarian: Bold and Beautiful Recipes for...
Name: booktitle, dtype: object

In [49]:
user_2.booktitle

40    Miss Zukas and the Raven's Dance
Name: booktitle, dtype: object

In [51]:
pd.merge(user_1,user_2,on='booktitle',how='outer')

,Unnamed: 0_x,userid_x,booktitle,bookrating_x,Unnamed: 0_y,userid_y,bookrating_y
0,22.0,276768.0,New Vegetarian: Bold and Beautiful Recipes for...,4.0,NaN,NaN,NaN
1,NaN,NaN,Miss Zukas and the Raven's Dance,NaN,41.0,276804.0,8.0