## Sharan S
# Assignment - 15 - Random Forest - Company Data

## A cloth manufacturing company is interested to know about the segment or attributes causes high sale. Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [1]:
import pandas as pd
from sklearn.model_selection import  KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv('C:\\Users\\SHARAN\\Desktop\\ExcelR\\Assignment\\Assignment_15_Random Forest - no\\Company_Data.csv')
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
df.loc[df.Sales>=8.5,'sales']='high'
df.loc[df.Sales<8.5,'sales']='low'
df.drop('Sales',1,inplace=True)
df

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,high
1,111,48,16,260,83,Good,65,10,Yes,Yes,high
2,113,35,10,269,80,Medium,59,12,Yes,Yes,high
3,117,100,4,466,97,Medium,55,14,Yes,Yes,low
4,141,64,3,340,128,Bad,38,13,Yes,No,low
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,high
396,139,23,3,37,120,Medium,55,11,No,Yes,low
397,162,26,12,368,159,Medium,40,18,Yes,Yes,low
398,100,79,7,284,95,Bad,50,12,Yes,Yes,low
399,134,37,0,27,120,Good,49,16,Yes,Yes,high

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CompPrice    400 non-null    int64
 1   Income       400 non-null    int64
 2   Advertising  400 non-null    int64
 3   Population   400 non-null    int64
 4   Price        400 non-null    int64
 5   ShelveLoc    400 non-null    object
 6   Age          400 non-null    int64
 7   Education    400 non-null    int64
 8   Urban        400 non-null    object
 9   US           400 non-null    object
 10  sales        400 non-null    object
dtypes: int64(7), object(4)
memory usage: 34.5+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df.iloc[:,8]=labelencoder.fit_transform(df.iloc[:,8])
df.iloc[:,9]=labelencoder.fit_transform(df.iloc[:,9])
df.iloc[:,5]=labelencoder.fit_transform(df.iloc[:,5])
df

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales
0,138,73,11,276,120,0,42,17,1,1,high
1,111,48,16,260,83,1,65,10,1,1,high
2,113,35,10,269,80,2,59,12,1,1,high
3,117,100,4,466,97,2,55,14,1,1,low
4,141,64,3,340,128,0,38,13,1,0,low
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1,high
396,139,23,3,37,120,2,55,11,0,1,low
397,162,26,12,368,159,2,40,18,1,1,low
398,100,79,7,284,95,0,50,12,1,1,low
399,134,37,0,27,120,1,49,16,1,1,high

In [6]:
colname=list(df.columns)
colname

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US',
 'sales']

In [7]:
x=colname[0:10]
y=colname[10]

In [8]:
x

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [9]:
y

'sales'

In [10]:
x1=df[x]
y1=df[y]

In [11]:
random=RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=1000,criterion="entropy")
random.fit(x1,y1)

RandomForestClassifier(criterion='entropy', n_estimators=1000, n_jobs=2,
                       oob_score=True)

In [12]:
df['prediction']=random.predict(x1)
df

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales,prediction
0,138,73,11,276,120,0,42,17,1,1,high,high
1,111,48,16,260,83,1,65,10,1,1,high,high
2,113,35,10,269,80,2,59,12,1,1,high,high
3,117,100,4,466,97,2,55,14,1,1,low,low
4,141,64,3,340,128,0,38,13,1,0,low,low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1,high,high
396,139,23,3,37,120,2,55,11,0,1,low,low
397,162,26,12,368,159,2,40,18,1,1,low,low
398,100,79,7,284,95,0,50,12,1,1,low,low
399,134,37,0,27,120,1,49,16,1,1,high,high

In [13]:
confusion_matrix(df['sales'],df['prediction'])

array([[143,   0],
       [  0, 257]], dtype=int64)

In [14]:
# Bagging Classifier

In [15]:
from sklearn.ensemble import BaggingClassifier
seed=3
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
num_trees=10
model=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)
results=cross_val_score(model,x1,y1,cv=kfold)
print(results.mean())

0.7849999999999999

In [16]:
# AdaBoost Classifier

In [17]:
from sklearn.ensemble import AdaBoostClassifier
num_trees=10
seed=7
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
model1=AdaBoostClassifier(n_estimators=num_trees,random_state=seed)
results1=cross_val_score(model1,x1,y1,cv=kfold)
print(results1.mean())

0.8225